body{
    background-color: lavender;
}
#mainTitle{
    height: 50px;
    text-align: center;
}
#smallTitle{
    text-align: left;
}
#Explanation{
    height:150px;
}
#left{
    margin-top:10px;
    float: left;
    text-align: center;
    width: 50%;
}
#right{
    margin-top:10px;
    float: right;
    text-align: center;
    width: 50%;
}
a{
    color: black;
    text-decoration: none;
}